.bar_panel {
  background-color: $dark-background;
  border-radius: 6px;
  margin: 10px;
  margin-bottom: 0;
  padding: 3px;
}

.test {
  background-color: $light-light-background;
  color: $foreground;
  margin-right: 10px;
}

.icon {
  padding: 2px;
  padding-left: 9px;
  font-size: small;
}
