.bar_panel {
  background-color: $dark-background;
  border-radius: 6px;
  margin: 10px;
  margin-bottom: 10px;
  padding: 3px;

  box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
}

box.panel {
  border: 2px solid $light-light-background;
  border-radius: 4px;
  padding: 0;
}
