.scale-popup scale trough highlight {
  all: unset;
  background-color: $foreground;
  color: #000000;
  border-radius: 10px;

}


.scale-popup scale trough {
  all: unset;
  background-color: $light-background;
  border-radius: 10px;
  min-height: 40px;
  min-width: 10px;

  border: 3px solid $dark-background;
}

// popup specific

.volume scale trough highlight {
  background-color: $green;
}

.brightness scale trough highlight {
  background-color: $yellow;
}
