.volume-scale scale trough highlight {
  all: unset;
  background-color: $foreground;
  color: #000000;
  border-radius: 10px;
}

.volume-scale scale trough {
  all: unset;
  background-color: $light-background;
  border-radius: 10px;
  min-height: 40px;
  min-width: 10px;

  border: 3px solid $dark-background;
}

