blender/
darktable/
dconf/
go/
gtk-3.0/
htop/
kde.org/
mc/
neofetch/
pulse/
session/
temp/
Kitware/
qt6ct/
Code - OSS/
Electron/
fish/
vlc/
systemd/

dolphinrc
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
baloofileinformationrc
filetypesrc
mimeapps.list

**/.git/
**/lazy-lock.json
**/.vscode/
