// Common
@import "./scss/theme.scss";
@import "./scss/common.scss";

// Widgets
@import "./scss/widgets/clock.scss";
@import "./scss/widgets/window.scss";
@import "./scss/widgets/system.scss";
@import "./scss/widgets/workspaces.scss";

// Windows
@import "./scss/windows/bar.scss";
@import "./scss/windows/popups.scss";
