* {
  all: unset;
  font-family: "JetBrains Mono";

}
// Colors
$background: #1f1f28;
$dark-background: #16161d;
$light-background: #2a2a37;
$light-light-background: #363646;
$selection: #98bb6c;
$selection: #44475a;
$foreground: #dcd7ba;
$dark-foreground: #8c8a7d;
$red: #ff5555;
$green: #98bb6c;
$yellow: #e6c384;
$cyan: #7fb4ca;
$purple: #938aa9;


