* {
  all: unset;

  font-family:   "JetBrains Mono Nerd Font";
  color: $foreground;
}

tooltip {
  background-color: $background;
  border: 2px solid $light-light-background;
  border-radius: 5px;
}

button {
  background-color: transparent;
  padding-left: 3px;
  padding-right: 2px;
  border-radius: 4px;
  margin-right: 2px;
  margin-left: 2px;

  // border: 1px dashed red; // DEBUG

  &:hover {
    background-color: $light-background;
  }

  &:active {
    background-color: $light-light-background;
  }
}
