@define-color background #1f1f28;
@define-color selection #98bb6c;
@define-color selection #44475a;
@define-color foreground #DCD7BA;
@define-color red #ff5555;
@define-color green #98bb6c;
@define-color yellow #e6c384;
@define-color cyan #7fb4ca;
@define-color purple #938aa9;
