@import url("./colors.css");
* {
    border: none;
    border-radius: 2px;
    font-family: JetBrainsMono Nerd Font, FontAwesome;
    font-weight: 700;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background-color: @background;
    border: 1px solid @selection;
}

tooltip label {
    color: @foreground;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 2px;
}

button:hover {
    background-color: inherit;
    box-shadow: inset 0 -3px @foreground;
}

#workspaces button {
    padding: 0 5px;
    background-color: @background;
    color: @foreground;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background);
}

#workspaces button.focused {
    box-shadow: inset 0 -3px @foreground;
    background-image: linear-gradient(0deg, @selection, @background);
}

#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @background);
}

#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background);
}

#mode {
    background-color: @background;
    box-shadow: inset 0 -2px @foreground;
}

#mpris,
#custom-weather,
#clock,
#language,
#pulseaudio,
#bluetooth,
#network,
#memory,
#battery,
#cpu,
#temperature,
#disk,
#idle_inhibitor,
#scratchpad,
#backlight,
#mode,
#tray {
    padding: 0 6px;
    margin: 3px 1px;
    color: @foreground;
}

#window {
    margin: 0 4px;
    margin-top: 2px;
}

#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @background;
    color: @foreground;
}

@keyframes blink {
    to {
        background-color: @background;
        color: @foreground;
    }
}

label:focus {
    background-color: @background;
}

#backlight {
  color: #e6c384;
}

#battery {
    color: #98bb6c; /* Spring green */
}

#cpu {
    color: #ff5d62;
}

#memory {
    color: #ffa066;
}

#network {
    color: @cyan;
}

#network.disconnected {
    background-color: @red;
    color: @background;
}

#pulseaudio {
    color: #ff5d62;
}

#pulseaudio.muted {
    color: @red;
}

