@import url("./colors.css");
* {
    border: none;
    border-radius: 2px;
    font-family: JetBrainsMono Nerd Font, FontAwesome;
    font-weight: 700;
    font-size: 13px;
    min-height: 0;
}

#mpris,
#custom-weather,
#clock,
#language,
#pulseaudio,
#bluetooth,
#network,
#memory,
#battery,
#cpu,
#temperature,
#disk,
#idle_inhibitor,
#scratchpad,
#backlight,
#mode,
#tray {
    padding: 0 6px;
    margin: 3px 1px;
    color: @foreground;
}

#window {
    margin: 0 4px;
    margin-top: 2px;
}
window#waybar {
    background: @dark-background;
    color: @foreground;
    border-bottom: 2px solid @light-light-background;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
  margin: 0;
}

tooltip {
    background: @background;
    border: 1px solid @selection;
}

tooltip label {
    color: @foreground;
}

button {
  background: @background;
}
#workspaces {
    margin: 0;
    background: @light-light-background;
    padding: 1px;
}

#workspaces button {
    padding: 0 5px;
    margin: 1px;
    background: @background;
    color: @foreground;
}

#workspaces button.active {
    background: @background;
    color: @green;
    box-shadow: inset 0 0 2px @green;
}

#workspaces button.urgent {
    color: @red;
    box-shadow: inset 0 0 2px @red;
}

#workspaces button:hover {
    box-shadow: inset 0 0 4px @foreground;
}

#mode {
    background-color: @background;
}

#clock {
    margin: 0;
    background-color: @background;
    border: 2px solid @light-light-background;
    color: @foreground;
}

@keyframes blink {
    to {
        background-color: @background;
        color: @foreground;
    }
}

label:focus {
    background-color: @background;
}

#backlight {
  color: #e6c384;
}

#battery {
    color: @green; /* Spring green */
}

#cpu {
    color: #ff5d62;
}

#memory {
    color: #ffa066;
}

#network {
    color: @cyan;
}

#network.disconnected {
    background-color: @red;
    color: @background;
}

#pulseaudio {
    color: #ff5d62;
}

#pulseaudio.muted {
    color: @red;
}

