// Audio

.volume-button-label {
  color: $green;
}

// Brightness

.brightness-button {
  padding-left: 5px;
  padding-right: 1px;
}

.brightness-button-label {
  color: $yellow;
}

// Wifi
.wifi-button.disconnected {
  padding-left: 5px;
  padding-right: 1px;
}

.wifi-button-label {
  color: $cyan;

  &.disconnected {
    color: $red;
  }
}
