// Audio
.volume-button {
  min-width: 10px;
  padding-right: 0;
}

.volume-button-label {
  color: $purple;

  min-width: 10px;
}

// Brightness

.brightness-button {
  padding-left: 5px;
  padding-right: 1px;

  min-width: 20px;
}

.brightness-button-label {
  color: $yellow;
}

// Wifi
.wifi-button {
  min-width: 20px;
}

.wifi-button.disconnected {
  padding-left: 5px;
  padding-right: 1px;

  min-width: 20px;
}

.wifi-button-label {
  color: $cyan;

  &.disconnected {
    color: $red;
  }
}

// Battery

.battery-button {
  padding-left: 3px;
  padding-right: 3px;
  min-width: 20px;

  &.charging {
    padding-left: 5px;
    padding-right: 0px;
  }
}

.battery-button-label {
  color: $green;
}

// Test

@mixin small-button($color) {
  margin: 0;

  color: $color;
  &:hover {
    background-color: transparent;
    .label {
      color: mix($color, $foreground, 40%);
    }
  }
}

.test-button {
  @include small-button($red);
}
