// Audio

.volume-button-label {
  color: $purple;
}

// Brightness

.brightness-button {
  padding-left: 5px;
  padding-right: 1px;
}

.brightness-button-label {
  color: $yellow;
}

// Wifi

.wifi-button.disconnected {
  padding-left: 5px;
  padding-right: 1px;
}

.wifi-button-label {
  color: $cyan;

  &.disconnected {
    color: $red;
  }
}

// Battery

.battery-button {
  padding-left: 8px;
  padding-right: 8px;

  &.charging {
    padding-left: 5px;
    padding-right: 0px;
  }
}

.battery-button-label {
  color: $green;
}
