.system-value {
  background-color: $light-light-background;
  color: $foreground;
  margin-right: 10px;
}

.icon {
  &.cpu {
    margin: 3px;
    font-size: 9px;
    padding-left: 4px;
    padding-bottom: 2px;
  }
  &.mem {
    font-size: 9px;
    padding-left: 5px;
    padding-bottom: 2px;
  }
  &.temperature {
    font-size: 9px;
    padding-left: 5px;
    padding-bottom: 2px;
  }

  &.light {
    padding-left: 10px;
  }
}

.cpu {
  color: $red;
}

.mem {
  color: $yellow;
}

.temperature {
  color: $green;
}
