.workspaces {
  padding: 0;

  .button {
    border: 2px solid $light-light-background;
    border-radius: 5px;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;

    &.current {
      border-color: $foreground;
      font-weight: bold;
    }
  }
}
