.workspaces {
  padding: 0;

  .button {
    border: 2px solid $light-background;
    background-color: $light-background;
    border-radius: 5px;
    margin-left: 0;
    margin-right: 3px;
    padding-left: 6px;
    padding-right: 6px;

    transition: 0.2s;

    &:hover {
      background-color: $light-light-background;
    }

    &.current {
      border-color: $foreground;
      font-weight: bold;
    }
  }
}
